body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.home img,
.home p {
  width: 50%;
}

.home p:first-of-type {
  font-size: 0.75rem;
  font-style: italic;
}

.item p:first-of-type,
.person p:first-of-type {
  font-size: 1.25rem;
  font-weight: bold;
}